<hr>
<h1>Welcome To your Profile!</h1>
<h4>{{email}}</h4>
<a href="/">back to the home page</a>
<br>
<br>
<br>
<div>
<a href="/recipe">list of recipes</a>
</div>
<br>
<div>
<a href="/user/{{_id}}/my-recipes">My recipes</a>
</div>
<br>
<div>
<a href="/user/{{_id}}/my-favorite-recipes">Favorite Recipes</a>
</div>
<br>
<div>
<a href="/recipe/create-recipe">Create new recipe!</a>
</div>



