*{
  margin: 0;
}

body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav{
  position: relative;
}
.navbar-content{
  position: absolute;
  margin-right: 70px;
  top: 8px;
  right: 16px;
}
.navbar-content a{
  font-size: 19px;
  margin-left: 15px;
}

.profile-content{
  margin-right:40px;
}

.list-and-seemore a {
  color:black;
  text-decoration: none;
  font-size: 1.4em;
}
.list-and-seemore-recipe a {
  color:black;
  text-decoration: none;
  font-size: 1.4em;
}

h1 {
  color: 15px;
}

/* .navigation-bar-content{
  display:flex;
} */


.profile-image{
  border-radius: 50%;
  width: 200px;
 
}





.recipe-image{
  width:400px;
}


.log-out{
  margin-left: 25px;
  font-size: 20px;
  border: none;
  background-color:transparent;
  color: rgb(212, 211, 211);
 
}

.card {
  color: white;
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  overflow: hidden;

}

.card-img-top-hover:hover{
  transform: scale(1.25) rotate(8deg);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-body h5{
  font-size: 1.7em;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.card-text-area{
height: 100px;
text-align: center;
margin-bottom: 10px;
}


.list-and-seemore{
  margin-top: 80px;
display: flex;
justify-content: space-between;
}

.list-and-seemore h1{
margin-left: 20px;
font-weight: 600;
}


.list-and-seemore a{
  margin-top: 70px;
}

.card-text-area-recipes{
height: 100px;
  text-align: center;
  margin-bottom: 10px;

}

.card-text-area-recipes h5{
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;

}

.card-text-area-recipes p{
  margin-top: 20px;

}


.list-of-recipes{
  margin-bottom: 70px;
}

.col-of-recipes{
  margin: 0 ;
}

.list-and-seemore-recipe{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.list-and-seemore-recipe a{
  margin-top: 70px;
}

.chefs-card-class{
  margin: 70px 0;
}


#list-title{
  font-weight: 700;
  margin-top: 70px;
}

.recipe-list-title{
  font-weight: 700;
  margin: 70px 0;
}

.my-favorite-title{
  
  margin: 30px 12px;
}


.heart{
  border: none;
  background-color: transparent;

  
}

.image-and-heart{
  margin-top: 80px;
 display: flex;
 flex-direction: column;
align-items: center;
}


.profile-header{
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header div{
  margin-top:53px;
margin-left: 30px ;
}


.about-me{
  width: 70%;
  display: flex;
  flex-direction: column;
}
.about-me p{
  margin-left: 430px;
  text-align: justify ;
}
.about-me h4{
  margin-left: 430px;
  font-weight: 500;
}

.contact-me{
  text-decoration: none;
  color: rgb(17, 17, 17);
  text-align: center;
  border: 2px solid goldenrod;
  border-radius:5px;
  padding: 8px 20px;
}
.contact-me:hover{
  background-color: goldenrod;
  color: white;
}

.dietry-links{
  text-decoration: none;
  color: rgb(17, 17, 17);
  text-align: center;
  border: 2px solid goldenrod;
  border-radius:5px;
  padding: 8px 20px;
  margin-left: 5px;
}

.dietry-links:hover{
  background-color: goldenrod;
  color: white;
}

.create-new-recipe-a{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.ul-of-navbar{
  display: flex;
  justify-content: space-between;
}

.image-and-heart{
  margin: 120px  0 50px 0;
  display: flex;
}

.recipe-detail-text{
  text-align: justify;
  margin-bottom: 100px;
}
.recipe-detail-text h2{
  font-weight: 900;
}

.recipe-detail-text h5{
  font-weight:600;
}

.recipe-detail-text h5{
  font-weight:600;
}


.owner-link p{
margin-right: 10px;
}

.owner-link a{
  margin-left: 20px;
  text-decoration:none ;
  color: rgb(127, 93, 7);
  font-weight: 600;
}

.owner-link a:hover{
  text-align: center;
  border: 2px solid goldenrod;
  border-radius:5px;
  padding: 8px 10px;
  background-color: goldenrod;
  color: white;

}

.edit-and-delete{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.edit-and-delete button{
  margin-left: 20px;
  padding: 8px 20px;
  border: 2px solid goldenrod;
  border-radius:5px;
  background-color: transparent;
}

.edit-and-delete button:hover{
  background-color: goldenrod;
  color: white;
}


.edit-and-delete a{
  text-decoration: none;
  color: rgb(17, 17, 17);
  text-align: center;
  border: 2px solid goldenrod;
  border-radius:5px;
  padding: 8px 20px;
}
.edit-and-delete a:hover{
  background-color: goldenrod;
  color: white;
}

.create-acount{
  margin-top: 20px;

  padding: 8px 20px;
  border: 2px solid goldenrod;
  border-radius:5px;
  background-color: transparent;
}

.create-acount:hover{
  background-color: goldenrod;
  color: white;
}



.signup-signin{
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.signup-tilte{
  text-align: center;
  color: rgb(175, 118, 13);
  font-weight: 700;
  margin-bottom: 40px;
}

.link-to-signin{
  text-align: center;
}
.link-to-signin a{
  color: rgb(4, 158, 163);
  text-decoration: none;
}
.radio-button{
  margin: 10px 0;
}

.signin-signup-form{
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
  padding: 60px 40px;
}


.user-profile{
  text-align: justify;
}

/* a {
  text-decoration: none;
  color: goldenrod;
  text-align: center;
  border: 2px solid goldenrod;
  border-radius:5px;
  padding: 8px 20px;
}

a:hover{

} */



.card-img-top{
  position: relative;
}

.card-text-area-recipes {
  position: absolute;
  text-shadow: 2px 2px #2d2d2d;
  bottom:3px;
  left:auto;
  text-align: center;
 
  /* background-color: rgb(207, 207, 207,0.4); */

}

.card-text-area-recipes a{

font-size: 17px;
font-weight: 600;
  text-decoration: none;
  color: white;
}


.card-text-area-recipes a:hover{
  color: goldenrod;
}

.card-text-area-recipes h5{
  width: 19rem;
  height:113px;
 background-color: rgb(37, 37, 37, 0.4);
 padding: 20px;
  }
  


  .user-profile div > a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 600;
  }

  
  .user-profile div >  a:hover{
    color: goldenrod;

  }

.checkbox{
  display: flex;
  justify-content: space-around;
}

.comment-form{
  display: flex;
  flex-direction: row;
}




.border-for-comments{
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 10px;
  padding: 60px 40px;
  height: 400px;
  overflow-y: scroll;
  overflow-wrap:break-word;


}


.border-for-comments p{
  padding: 14px 10px;
  overflow:auto;

}





