

<h2>Create New Recipe</h2>
<form action="/recipe/create-recipe" method="POST">
  <div class="row">
    <div class="col">
      <input
        name="name"
        type="text"
        class="form-control"
        placeholder="Recipe name"
        aria-label="Recipe name"
      />
    </div>
    <div class="col">
      <input
        name="ingredient"
        type="text"
        class="form-control"
        placeholder="Ingredients"
        aria-label="Ingredient"
      />
    </div>
  </div>
  <br>
         <label for="floatingTextarea">Description</label>
 <div class="form-floating">

    <textarea
      name="description"
      class="form-control"
      placeholder="Write Description Here"
      id="floatingTextarea"
    ></textarea>

  </div>
<br>

  <div>
    <select name="dietary" class="form-select"  multiple>
      <option selected>select dietary</option>
        <option name="dietary" value="Lactose intolerance">Lactose intolerance</option>
        <option name="dietary" value="Gluten intolerance or sensitivity">Gluten intolerance or sensitivity</option>
        <option name="dietary" value="Vegetarian">Vegetarian</option>
        <option name="dietary" value="Vegan">Vegan</option>
        <option name="dietary" value="Kosher">Kosher</option>
        <option name="dietary" value="Keto">Keto</option>
        <option name="dietary" value="Diabetes">Diabetes</option>
        <option name="dietary" value="Dairy-free">Dairy-free</option>
        <option name="dietary" value="Low carb">Low carb</option>
        <option name="dietary" value="Food allergies"></option>Food allergies</option>
    </select>
  </div>
<br>
  <button>Create New Recipe</button>

</form>