 <hr>
 <a href="/user/{{userId}}">Back to Profile</a>
 <br>
<h3>List of My Favorite Recipes</h3>
<br>
{{#each recipes}}
<h3>{{favRecipe.name}}</h3>
<span>{{favRecipe.dietary}} |</span>
<a href="/recipe/{{favRecipe.id}}">see full recipe</a>
<hr>
{{/each}}


