 <hr>
<h3>List of My Favorite Recipes</h3>
<br>
{{#each favRecipesArr}}
<h3>{{this.favRecipe.name}}</h3>
<img src="" alt="">
<a href="/recipe/{{this.favRecipe._id}}">see full recipe</a>
<hr>
{{/each}}


