
<hr>
 <a href="/user/{{userId}}">Back to Profile</a>
<br>
<h3>List of Recipes</h3>
<br>
{{#each recipes}}
<h3>{{this.name}}</h3>
<span>{{this.dietary}} |</span>
<a href="/recipe/{{this.id}}">see full recipe</a>
<hr>
{{/each}}

