
<hr>
<br>
<h3>List of Recipes</h3>
<br>
{{#each recipes}}
<h3>{{this.name}}</h3>
<span>{{this.dietary}} |</span>
{{!-- this link need to check that user loggin or not --}}
<a href="/{{this.id}}">see full recipe</a>
<hr>
{{/each}}



             