
<br />
<br />
<br />
<br />
<br />
<br />


<div class="container">
  <div class="row">
    <div class="col-lg-4">

<h2 style="  font-weight: 600;  margin-bottom: 30px;">Create New Recipe</h2>
<form action="/recipe/create-recipe" method="POST" enctype="multipart/form-data">

  <div class="input-group mb-3">
    <p>Upload your recipe image</p>
    <div>
  <input type="file" class="form-control recipe-image" name="image_Url"  accept="image/*" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
    </div>
</div>

    <div class="col">
      <label for="">
        Recipe name
      </label>
      <input
        name="name"
        type="text"
        class="form-control"
        placeholder="Recipe name"
        aria-label="Recipe name"
        required
      />
    </div>
     <br>
    <div class="col">
      <label for="">Ingredients</label>
      <input
        name="ingredient"
        type="text"
        class="form-control"
        placeholder="Ingredients"
        aria-label="Ingredient"
      />
  
  <br>


  <label for="floatingTextarea">Description</label>
 <div class="form-floating">

    <textarea
      name="description"
      class="form-control"
      placeholder="Write Description Here"
      id="floatingTextarea"
    ></textarea>

  </div>
<br>
<br>
<div class="checkbox">
<div class="left-checkbox">
   <input type="checkbox"  name="dietary" value="lactose intolerance">
  <label > Lactose intolerance</label><br>
  <input type="checkbox"  name="dietary" value="gluten intolerance or sensitivity">
  <label > Gluten intolerance or sensitivity</label><br>
  <input type="checkbox" name="dietary" value="vegetarian">
  <label > Vegetarian</label><br>
   <input type="checkbox"  name="dietary" value="vegan">
  <label > Vegan</label><br>
  <input type="checkbox"  name="dietaryr" value="kosher">
  <label > Kosher</label><br>
</div>
  
<div class="right-checkbox">
    <input type="checkbox"  name="dietary" value="keto">
  <label > Keto</label><br>
   <input type="checkbox"  name="dietary" value="diabetes">
  <label > Diabetes</label><br>
  <input type="checkbox"  name="dietary" value="dairy-free">
  <label >Dairy-free</label><br>
  <input type="checkbox"  name="dietary" value="low carb">
  <label > Low carb</label><br>
   <input type="checkbox"  name="dietary" value="food allergies">
  <label > Food allergies</label><br>
</div>
</div>
<br>
  <button class="col-6 offset-3 create-acount">Create New Recipe</button>

</form>




    </div>
  </div>
</div>




